body {
    background-color: cornflowerblue;
    background-image: url(/images/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*Need to add background image or video for home page*/

/*The whole nav bar codes*/
.nav {
    list-style-type: none;
    margin: 0;
    background-color:white ;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
}

.nav li {
    display: inline;
}

.nav li a {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    border-top: solid black; 
    border-bottom: solid black;
    color: black;
}

.nav li a:hover {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

/*The whole footer code*/
.foot {
    text-decoration: underline;
    color: black;
    font-weight: 800;
    font-size: medium;
    background-color: white;
    text-align: center;
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

footer a {
    color: black;
}

/*Footer Icons*/
#fb {
    color: blue;
}

#fb:hover {
    color: midnightblue;
}

#twit {
    color: deepskyblue;
}

#twit:hover {
    color: midnightblue;
}

#insta {
    color: magenta;
}

#insta:hover {
    color: midnightblue;
}

div {
    margin: 50px;
}

/*Bigger div code*/
.companies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

/*Smaller inner divs*/
.company {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    color: black;
    border: solid 5px black;
}

.company:hover {
    opacity: 75%;
    border-color: aqua;
}

.click {
    background-color: aqua;
    color: cadetblue;
    font-size: 20px;
}

.main {
    background-color: white;
}

.link {
    border: double 2px gray;
    border-width: 5px;
    background-image: url(/images/concert-2527495_1280.jpg);
    margin: 30px;
    width: 300px;
    height: 200px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.button a {
    color: white;
    background-color: darkcyan;
    text-decoration: none;
    border-bottom:  solid 2px white;
    border-top: solid 2px white;
    padding: 10px 20px;
    justify-self: center;
}

.button a:hover {
    background-color: white;
    color: darkcyan;
}